body {
  font-family: Optima;
  color: white;
  background-image: linear-gradient(to right, black 40%, #be1e46 100%);
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
}
h1 {
  font-size: 2rem;
  line-height: 1.3em;
}
p {
  margin-bottom: 1.6em;
}
.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;

}
.header {
  background-image:linear-gradient(to right, black 60%,#a3182a 100%) ;
  color: white;
  padding: 0.5rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  -moz-box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  z-index: 99;
  opacity: 0.8;
}
.header a {
  color: white;
  text-decoration: none;
}
.logo {
  letter-spacing: 15px;
  font-size: 1.3em;
}
.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.navigation ul li a:hover {
  background-image: linear-gradient(to right, black 70%, #a3182a 100%);
}
.main {
  padding: 0.5rem;
  margin-top: 150px;
}
.banner {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;

}


.tarjeta {
    min-height: auto;
    min-width: auto;
    max-height: 300px;
    max-width: 300px;
    margin: 5px;
    
  margin-bottom: 200px;
}
.estrenos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 150px;
}
.tamano__imagen{
  width: 300px;
  height: 444px;
  min-width: auto;
  min-height: auto;
  -webkit-box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  -moz-box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);  /* Safari 6.0 - 9.0 */
}
.medida{
  
margin-top: 80px;
max-width: 420px;
max-height: 519px;
min-width: auto;
min-height: auto;
margin-bottom: 40px;
}


.tamano__imagen:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.10s ease-in-out;
}
.container__infopeliculas{

  margin-top: 100px;
}

.input__busqueda{
  background:white;
  width: 70%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: black ;
  font-family: Optima;
  font-size:18px;
  -webkit-box-shadow: 0px 7px 45px -4px rgba(228, 45, 85, 0.527);
  -moz-box-shadow: 0px 7px 45px -4px rgba(228, 45, 85, 0.527);
  box-shadow: 0px 7px 45px -4px rgba(228, 45, 85, 0.527);
  margin: 5px;
  border: 0;
  outline: none;
}
.boton__buscar{
  width: 23%;
  height: 46px;
  border-radius: 5px;
  color: white;
  background:black;
  font-family: Optima;
  font-size: 16px;
  margin-top: 4px;
  margin-left: 4px;
  border: 0;
  -webkit-box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  -moz-box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
}


.container__infopeliculas{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.info__peli{
  display: block;
}

table {
  font-family: Optima;
  background-image:linear-gradient(to right, black 40%, #be1e46 100%);
  color:#be1e46;
  border-radius: 15px;
  width: 100%;
}

td, th {
  text-align: center;
  color: white;
  border-collapse:collapse;
}

tr:nth-child(even) {
  background-image: linear-gradient(to right, black 40%, #be1e46 100%);
}

.imagen__peli{
  -webkit-box-shadow: 0px 7px 45px -4px rgba(228, 45, 85, 0.527);
  -moz-box-shadow: 0px 7px 45px -4px rgba(228, 45, 85, 0.527);
  box-shadow: 0px 7px 45px -4px rgba(228, 45, 85, 0.527);
}
.boton__pagar{
  width: 23%;
  height: 46px;
  border-radius: 5px;
  color: white;
  background:black;
  font-family: Optima;
  font-size: 16px;
  margin-top: 13px;
  margin-left: 4px;
  border: 0;
  -webkit-box-shadow: 0px 7px 45px -4px rgba(228, 45, 85, 0.527);
  -moz-box-shadow: 0px 7px 45px -4px rgba(228, 45, 85, 0.527);
  box-shadow: 0px -5px 46px -4px rgba(228, 45, 85, 0.527);
  
}
.boton__eliminar{
  width: 100%;
  height: 46px;
  border-radius: 5px;
  color: white;
  background:rgba(155, 28, 28, 0.96);
  font-family: Optima;
  font-size: 16px;
  margin-top: 4px;
  margin-left: 4px;
  border: 0;
  -webkit-box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  -moz-box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
  box-shadow: 0px 7px 45px -4px rgba(0,0,0,0.96);
}


